jupyter
ipython
kaleido
build
twine
mkdocs
mkdocs-jupyter
mknotebooks
python-markdown-math
markdown_include
kamodo
cffi
numpy<2.0.0
pandas<2.0.0
netCDF4<1.7.0
setuptools<65
nbformat
cdflib
astropy
h5py
sgp4
hapiclient
spacepy
s3fs
boto3
h5netcdf
psutil
rbamlib
pyverbplt
